.Home {
  background-color: #282c34;
  min-height:100vh;
}

.Home-logo {
  width:100%;
  height:100%;
  /* height: 40vmin; */
  pointer-events: none;
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(225, 232, 232);
}

.Home-link {
  color: #61dafb;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-header {
    width:160px;
}

.logo-header-headline {
  font-size:30px;
}

.search-form {
  margin:30px;
}

/* container for search form */
.search-form-bar {
  height:48px;
  margin:0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  background-color: darkslategrey;
  padding:8px;
  outline:2px solid grey;
}

/* search input box */
.search-box {
  width:88%;
  background-color: rgba(0,0,0,0);
  box-sizing: border-box;
  border:none;
  outline:none;
  border-radius: 15px;
  font-family: "Calibri", Arial, monospace;
  color:rgb(225, 232, 232);
  font-size: calc(10px + 2vmin);
  text-indent:2%;
}

.search-form {
  padding-top:20px;
  transition-delay:150ms;
}

/* submit search button */
.submit-button {
  width: 10%;
  height:100%;
  background-color: rgb(89, 110, 110);
  box-sizing:border-box;
  border: none;
  border-radius: 15px;
  align-self:center;
}

.submit-logo {
  width:100%;
  border-radius: 100%;
}

/* return button */
.return-button {
  min-width: 10vh;
  background-color: rgb(89, 110, 110);
  border:none;
  border-radius: 15px;
  /* margin:px; */
}

.return-container {
  width:5%;
  display:inline-block;
  justify-content: center;
  left:0px;
  position:fixed;
  z-index: 1;
  opacity:0.82;
  padding-left: 4vh;
}

.return-logo {
  width:70%;
  border-radius: 100%;
}

.Page-header {
  width:50%;
  align-items: center;
  justify-content: space-between;
  position:relative;
  display:inline-block;
  font-size: 45px;
}

.Main-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(225, 232, 232);
  text-align: center;
}

.Biker-image {
  display:flex;
  height: 60vh;
  border:solid rgb(84, 78, 78) 1vh;
  margin-right:5vh;
}

.Main-body {
  padding-top: 2vh;
  background-color: #282c34;
  width:100%;
  display:flex;
  justify-content: center;
}

.Main-info {
  padding-left: 5vh;
  padding-right:5vh;
  margin:0px;
  color:rgb(219, 235, 235);
  font-size: calc(10px + 2vmin);
  padding-bottom:20vh;
  word-spacing: 0.5vh;
}

.Main-added-info {
  display:flex;
  width:100%;
  padding-right:10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Added-info {
  display:flex;
  flex-direction: column;
  width:100%;
  font-size:15px;
  padding:0;
}

.Project-vault {
  display:flex;
  flex-wrap: wrap;
  font-size: 20px;
  color:#e3e6eb;
  /* border:solid #414854 1px; */
  /* background-color:#353b46; */
  padding-bottom:0;
  padding-left:0;
}

.Project-widget {
  box-sizing: border-box;
  background-color: #353b46;
  border:solid #414854 2px;
  list-style:none;
  padding:16px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius:10px;
}

.Skillset {
  /* text-align:left; */
  padding:0;
}

.Skillset li {
  font-size:14px;
  list-style:none;
  box-sizing: border-box;
  /* border: 1px solid white; */
  margin-top: 0.5rem;
  margin-right: 0.375rem;
  padding: 0.5rem;
  display:inline-flex;
  border-radius: 12px;
  background-color: #252a35;
  
}

.Preview-proj-img {
  width:100%;
  display:block;
  border-radius:10px;
}

.Project-card a {
  width:48%;
}

.Project-card a:hover {
  border:solid rgb(219, 235, 235) 2.5px;
  border-radius: 10px;
  
}

.Project-card {
  display: flex;
  position:relative;
  justify-content: space-between;
  align-items: center;
}

.Project-info {
  display:block;
  width:50%;
  padding-bottom:30px;
}

.Project-info h2 {
  margin-top:0;
  font-size:24px;
  margin-bottom:2px;
}

.Project-info em {
  font-size:18px;
}

/* Media query for responsiveness */
@media (max-width: 640px) {
  .Biker-image {
    max-height:auto;
    margin-right:0px;
  }
  .Main-info {
    flex-direction: row;
    padding-bottom:3vh;
  }

  .Main-added-info {
    display:flex;
    width:100%;
    padding-right:10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Added-info {
    padding:5vh;
    padding-top:2vh;
  }

  .Main-body {
    flex-direction: column;
    align-items: center;
  };

  .search-form-bar {
    width: auto; /* Make the search-form full width on smaller screens */
    flex-direction: row; /* Stack input and button elements vertically */
    margin-left:5%;
    justify-content: space-between;
    margin-right:5%;
  }

  .search-box,
  button {
    width: 100%; /* Make input and button full width on smaller screens */
    float:left;
  }

  .search-box {
    margin-right:5%;
  }

  /* submit search button */
  .submit-button {
    height:90%; 
    width:20%;
    background-color: rgb(89, 110, 110);
    float:right;
  }
  
  .submit-logo {
    width:100%;
    max-height:160px;
    min-height:35px;
    border-radius: 100%;
  }

  .Project-card {
    display: flex;
    position:relative;
    align-items: center;
    width:100%;
    flex-direction: column;
  }
  .Project-card a {
    width:100%;
    padding-bottom:12px;
  }
  .Project-card a:hover {
    border:solid rgb(219, 235, 235) 0;
    border-radius: 10px;
  }
  .Project-info {
    width:98%;
    padding-bottom:0;
  }
}